.App {
  text-align: center;
}


.image-container {
  display: flex; /* Use flexbox layout */
}

.App-image {
  width: 200px; /* Set the width of each image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing between images (adjust as needed) */
}

.button-container {
  margin-top: 20px; /* Add margin between images and buttons (adjust as needed) */
}

.btn {
  margin-right: 10px; /* Add spacing between buttons (adjust as needed) */
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
